<?xml version="1.0"?>

<!--
This launch file starts the camera and the tabletop object detection node.

-->

<launch>

    <!-- launch camera -->
    <include file="$(find youbot_picknplace)/launch/camera.launch" />

    <!-- launch tabletop detection -->
    <include file="$(find youbot_picknplace)/launch/tabletop.launch" />

</launch>
