<?xml version="1.0"?>

<!--
This launch file starts a series of nodes for the Picknplace project.

-->

<launch>
	<!-- move it interface -->
    <include file="$(find youbot_moveit_config)/launch/move_group.launch">
  		<arg name="publish_monitored_planning_scene" value="true" />
 	</include>

    <!-- motion action servers -->
    <node name="motion" pkg="motion" type="motion" output="screen" />
    <node name="gripper_motion" pkg="motion" type="gripper_motion" output="screen" />

    <!-- motion planning action servers -->
    <node name="motion_planning" pkg="motion_planning" type="motion_planning" output="screen" />

    <!-- start sensing action servers -->
    <node name="sensing" pkg="sensing" type="sensing" output="screen" />

    <!-- start navigation action servers -->
    <node name="navigation" pkg="navigation" type="navigation" output="screen" />
    
    <!-- launch gazebo world -->
    <!-- <include file="$(find youbot_picknplace)/launch/camera.launch" /> -->

</launch>
