<?xml version="1.0"?>

<!--
This launch file starts a series of nodes for the Edante project.

If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>

		<!-- Launch file starting all necesarry nodes for pick and place task. Arm control, perception and youbot interface itself.
-->

	 	<!-- robot publishers -->
		<param name="robot_description_with_cam" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_with_cam3d.urdf.xacro'"/>

		<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" />
    	<include file="$(find youbot_driver_ros_interface)/launch/youbot_joint_state_publisher.launch" />

		<!-- move it interface -->
    	<include file="$(find youbot_moveit_config)/launch/move_group.launch">
  			<arg name="publish_monitored_planning_scene" value="true" />
 		</include>

 		<!-- motion action servers -->
		<node name="motion" pkg="motion" type="motion" output="screen">
        </node>
        <node name="gripper_motion" pkg="motion" type="gripper_motion" output="screen">
        </node>

        <!-- motion planning action servers -->
        <node name="motion_planning" pkg="motion_planning" type="motion_planning" output="screen">
        </node>

</launch>
